<!-- views/partials/header.ejs -->
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../../css/styles.css">
    <script type="text/javascript" src="../../js/jquery.js"></script>
    <script type="text/javascript" src="../../js/script.js"></script>
  </head>
  <body>
    <div class="container">
        <nav>
          <a href="../../">Homepage</a>
          <a href="../../cats">New Cat Picture</a>
          <a href="../../cats/favs">Favorite Cats</a>
          <a href="../../users/signup">Signup</a>
          <a href="../../users/login">Login</a>
        </nav>
    <div class="container">
