 <% include ../partials/header.ejs %>

  <form action="/users/login" method="post">
    <label>USERNAME</label>
    <input placeholder="username" name="user[email]" type="text"/>
    <label >PASSWORD</label>
    <input placeholder="password" name="user[password]" type="password"/>
    <input type="submit" value="Login">
  </form>
</div>
  <div class="text-center" id="footer">
    <button><a href="/users/login">Login</a></button>
    <button><a href="/users/signup">Sign Up</a></button>

    <div id="cat-fact">Fact: {{fact}}</div>
  </div>
 <% include ../partials/footer.ejs %>
