 <% include ../partials/header.ejs %>
<div class="text-center">
  <h1 class="text-center">Everyday is Caturday</h1>
  <form action="/users/login" method="post">
    <label>USERNAME</label>
    <input placeholder="username" name="user[email]" type="text"/>
    <label >PASSWORD</label>
    <input placeholder="password" name="user[password]" type="password"/>
    <input type="submit" value="Login">
  </form>

  <div class="text-center" id="footer">
    <div id="cat-face">{{face}}</div>
  </div>
 <% include ../partials/footer.ejs %>
