<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../../css/styles.css">
    <script type="text/javascript" src="../../js/jquery.js"></script>
<script type="text/javascript" src="../../js/script.js"></script>
  </head>
  <body>
    <nav>
      <a href="../../">Homepage</a>
      <a href="../../cats">New Cat Picture</a>
      <a href="../../cats/favs">Favorite Cats</a>
      <a href="../../users/signup">Signup</a>
      <a href="../../users/login">Login</a>
    </nav>
    <div class="text-center">
      <h1 class="text-center">Everyday is Caturday</h1>
      <form action="/users/login" method="post">
        <label>USERNAME</label>
        <input placeholder="username" name="user[email]" type="text"/>
        <label >PASSWORD</label>
        <input placeholder="password" name="user[password]" type="password"/>
        <input type="submit" value="Login">
      </form>

      <!-- <div class="text-center" id="footer">
        <button><a href="/users/login">Login</a></button>
        <button><a href="/users/signup">Sign Up</a></button>
      </div> -->
    </div>
  </body>
</html>
