<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../../css/styles.css">
    <script type="text/javascript" src="../../js/jquery.js"></script>
<script type="text/javascript" src="../../js/script.js"></script>
</head>
<body>
      <nav>
      <a href="../../">Homepage</a>
      <a href="../../cats">New Cat Picture</a>
      <a href="../../cats/favs">Favorite Cats</a>
      <a href="../../users/signup">Signup</a>
      <a href="../../users/login">Login</a>
    </nav>
  <div class="text-center">
     <h1 class="text-center">Everyday is Caturday</h1>
     <h2>Signup</h2>
    <form action="/users" method="POST">
      <label for="email">EMAIL</label><br />
      <input id="email" type="text" name="user[email]" placeholder="email"><br>

      <label for="password">PASSWORD</label><br />
      <input id="password" type="password" name="user[password]" placeholder="password"><br>

      <input type="submit" value="Sign Up">
    </form>
  </div>
  <div class="text-center" id="footer">
    <div id="cat-face">{{face}}</div>
  </div>
</body>
</html>
