<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../../css/styles.css">
    <script type="text/javascript" src="../../js/jquery.js"></script>
<script type="text/javascript" src="../../js/script.js"></script>
  </head>
  <body>
    <nav>
      <a href="../../">Homepage</a>
      <a href="../../cats">New Cat Picture</a>
      <a href="../../cats/favs">Favorite Cats</a>
      <a href="../../users/signup">Signup</a>
      <a href="../../users/login">Login</a>
    </nav>
    <a href="/logout" class="logout">logout</a>
    <h1>Everyday is Caturday</h1>
    <div id="cat-face"></div>
    <h2>Favorites</h2>

  {{#favs}}
  <div class="fav" >
    <div class="img-fav">
      <img src={{url}}>
    </div>
    <button id="delete-fav" data-id={{id}}>Delete Favorite</button>
    <button id="edit-fav" data-id={{id}}>Edit Favorite</button>
</div>
  {{/favs}}
<!--
    <div class="text-center" id="footer">
      <button>Save to Favorites</button>
      <button>Add Cute Vote</button>
      <button>See Next Cat</button>
    </div> -->
     </body>
</html>
